* {
  font-family: 'Roboto', sans-serif;
}

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.auth-form {
  width: 100%;
  height: 75vh;
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.auth-form-header {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 10vh;
  font-size: 1.5rem;
}

.auth-form-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#headerDiv1 {
  float: left;
  height: 100%;
  width: 100%;
  background-color: #e31c25;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#headerDiv2 {
  float: right;
  width: 100%;
  height: 100%;
  background-color: #e31c25;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active {
  background-color: #bb000e !important;
}

.signin-form-header > h1, .signup-form-header > h1 {
  font-size: 2rem;
  margin: 3rem 0;
}

.signin-container, .signup-container {
  width: 75%;
}
