.input-container {
  display: flex;
  flex-direction: column;
}

label {
  align-self: flex-start;
}

.input-text {
  width: 50%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}