* {
  font-family: 'Roboto', sans-serif;
}

.activity-item p {
  font-size: 12px;
  padding: 0 20px;
  font-weight: bold;
}

.activity-item p b {
  font-size: 12px;
  font-weight: bold;
  color: red;
}